.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		
		&:focus + .checkbox__label:before {
			//box-shadow: 0 0 5px #000;
		}
		&:checked + .checkbox__label:before {
			//background: #000;
			transform: scale(1);
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: flex;
		align-items: center;
		position: relative;
		//gap: 10px;
		//display: inline-block;
		width: 23px;
		height: 23px;
		border: 1px solid #000;
		text-align: center;    
		&:before {
			/*content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #a7a9ac;*/
			content: '\2713';
			display: inline-block;
			color: $mainBlue;
			font-size: 30px;
			line-height: 30px;
			transform: scale(0);
			transition: 0.3s;
		}
	}
	// .checkbox__text
	&__text {
		line-height: math.div(24 , 16);
		flex:1 0 300px;
		justify-self: flex-start;
		text-align: left;
		padding-left: rem(20);
	}
}
