//====================================================================================================
.page {

	// .page__baner

	&__baner {
		
	}
}
.baner {

	// .baner__container

	&__container {
		@media (min-width:$mobile){
			background: url("@img/catalog/Group 270.jpg") top no-repeat;
			background-size: cover;
			margin-top: rem(12);
			//padding: rem(50) rem(50);
			position: relative;
			padding: 0px 0px;
		}
	}

	&__back{
		position: absolute;width: 100%;height: 100%;top: 0;left: 0;
		background: rgba(36, 35, 33, 0.53);
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__body{
			display: flex;
			
			justify-content: space-between;
			align-items: center;
			position:relative;
			@media (max-width:$mobile){
				 flex-direction: column; 
			}
			//margin: 0px 50px;
	}

	// .baner__title

	&__title {
		position: relative;
		margin-left: 30px;
		font-weight: 900;
		line-height: math.div(40 , 30);
		@include adaptiveValue("font-size", 30, 24);
		@media (max-width:$mobile){
			 margin-left: 0;
			 margin-top: 27px;
			 padding: 0px 10px; 
		}
		@media (min-width:$mobile){
			 color: white;
			 
		}
	}

	&__content{
		//display: flex;
		//align-items: center;
		background: #0088CF;
		backdrop-filter: blur(200px);
		/* Note: backdrop-filter has minimal browser support */
		padding: 25px 15px 38px 15px;
		border-radius: 3px;
		margin: 35px 56px 35px 0px;
		@media (max-width:$mobile){
			 width: 100%;
			 margin-right: 0;
			 margin-top: 20px;
			 
		}
	}

	&__img{
		position:relative;
		//@include: 0 0 80px;
		img{
			position: absolute;
		}
		img:last-child{
			top: -20px;
		}
	}

	// .baner__subtitle

	&__subtitle {
		//display: flex;
		padding: 15px 20px 0px 90px;
		
		color: white;
		font-size: rem(16);
		line-height: math.div(26 , 16);
		font-weight: 700;
		flex: 1 0 350px;
		@media (max-width:$mobile){
			 text-align: left; 
		}
		@media (min-width:$mobile){
			 
		}
	}
}

/*=============================*/

.page {

	// .page__filter

	&__filter {
		margin-top: rem(30);
		@media (max-width:$mobile){
			 margin-top: 0; 
		}
	}
}
.filter {

	// .filter__container

	&__container {
		
	}

	&__body{
		@media (min-width:$mobile){
			 display: grid;
			
			 grid-template-columns: percent(448, 1204) 1fr percent(171, 1204);
			 gap: rem(10);
			 @media (max-width:$pc){
				 display: flex;
				 flex-wrap: wrap;
				 justify-content: center;
			 }
		}
		@media (max-width:$mobile){
			text-align: center;
			margin-top: rem(15);
		}
	}
	// .filter__title

	&__title {
		@media (min-width:$mobile){
			&::after{
				display: none;
			}
			font-weight: 900;
			@include adaptiveValue("font-size", 20, 16);
			line-height: math.div(40 , 20); 
		}
		@media (max-width:$mobile){
			display: flex;
			justify-content: space-between;
			font-weight: 700;
			padding: 10px 15px 10px 15px;
			background: #F5F5F9;
			border: 1px solid #E5E5E5;
			border-radius: 5px;
			&._spoller-active{
				&::after{
					transform: rotate(180deg);
				}
			} 
		}
		&::after{
			transition: transform 0.3s;
			@extend %ic;
			content: "\e900";
		}
	}

	// .filter__section

	&__section {
		
		display: flex;
		align-items: center;
		gap: rem(10);
		&:nth-last-child(2){
			flex: 0 0 100%;
			justify-content: center;
		}
		@media (max-width:$mobile){
			margin-bottom: rem(20);
			
			display: inline-flex;
			
		}
	}

	&__year{
		display: flex;
		gap: rem(10);
		align-items: center;
		.select__body{
			width: 108px;
		}
		@media (max-width:$mobile){
			 flex: 0 0 100%;
		}
	}

	&__switch{
		display: flex;
		gap: rem(10);
		align-items: center;
		@media (max-width:$mobile){
			 justify-content: center;
			 
		}
		p{
			font-size: rem(14);
			line-height: math.div(24 , 14);
			font-weight:700;
		}
	}

	&__button{
		font-size:rem(14);
		font-weight:700;
		line-height: math.div(26 , 14);
		padding: 16px 20px;
		@media (max-width:$mobile){
			 margin-top: rem(20); 
		}
	}
}

/*._spoller-active.filter__title
	{
		&::after{
			color: red;
		}
	}*/






.active{
	color: $mainBlue;
}
.form {
}
.form-arrow {
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 18px;
 }
 
 /* Hide default HTML checkbox */
 .switch input {visibility: hidden;}
 
 /* The slider */
 .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F5F5F9;
	border: 1px solid #E5E5E5;
	transition: .4s;
 }
 
 .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	top: -1px;
	//bottom: 4px;
	background-color: $mainBlue;

	transition: .4s;
 }
 
 input:checked + .slider {
	//background-color: #2196F3;
 }

 input:checked ~ .filter__auto{
	color: #0088CF;
 }
 
 input:focus + .slider {
	//box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
	
	transform: translateX(16px);
 }
 
 /* Rounded sliders */
 .slider.round {
	border-radius: 34px;
 }
 
 .slider.round:before {
	border-radius: 50%;
 }

 /*=================CATALOG===========*/

 .page {

	// .page__catalog

	&__catalog {
		margin-top: rem(50);
	}
}
.catalog {

	// .catalog__container

	&__container {
		display: grid;
		gap: rem(20);
		grid-template-columns: repeat(3, 1fr);
		@media (max-width:$tablet){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:$mobile){
			 grid-template-columns: 1fr; 
		}
	}
}

