//====================================================================================================
.page {

	// .page__baner

	&__baner {
		
	}

	&__results{
		margin-top: rem(90);
	}
}
.baner {

	// .baner__container

	&__container {
		@media (min-width:$mobile){
			background: url("@img/catalog/Group 270.jpg") top no-repeat;
			background-size: cover;
			margin-top: rem(12);
			//padding: rem(50) rem(50);
			position: relative;
			padding: 0px 0px;
		}
	}

	&__back{
		position: absolute;width: 100%;height: 100%;top: 0;left: 0;
		background: rgba(36, 35, 33, 0.53);
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__body{
			display: flex;
			
			justify-content: space-between;
			align-items: center;
			position:relative;
			@media (max-width:$mobile){
				 flex-direction: column; 
			}
			//margin: 0px 50px;
	}

	// .baner__title

	&__title {
		position: relative;
		margin-left: 30px;
		font-weight: 900;
		line-height: math.div(40 , 30);
		@include adaptiveValue("font-size", 30, 24);
		@media (max-width:$mobile){
			 margin-left: 0;
			 margin-top: 27px;
			 padding: 0px 10px; 
		}
		@media (min-width:$mobile){
			 color: white;
			 
		}
	}

	&__content{
		//display: flex;
		//align-items: center;
		background: #0088CF;
		backdrop-filter: blur(200px);
		/* Note: backdrop-filter has minimal browser support */
		padding: 25px 15px 38px 15px;
		border-radius: 3px;
		margin: 35px 56px 35px 0px;
		@media (max-width:$mobile){
			 width: 100%;
			 margin-right: 0;
			 margin-top: 20px;
			 
		}
	}

	&__img{
		position:relative;
		//@include: 0 0 80px;
		img{
			position: absolute;
		}
		img:last-child{
			top: -20px;
		}
	}

	// .baner__subtitle

	&__subtitle {
		//display: flex;
		padding: 15px 20px 0px 90px;
		
		color: white;
		font-size: rem(16);
		line-height: math.div(26 , 16);
		font-weight: 700;
		flex: 1 0 350px;
		@media (max-width:$mobile){
			 text-align: left; 
		}
		@media (min-width:$mobile){
			 
		}
	}
}

/*=============================*/

.page {

	// .page_search

	&_search {
		margin-top: rem(20)
	}
}
.search {

	// .search__container

	&__container {
	}

	// .search__title

	&__title {
		font-weight:900;
		font-size: rem(20);
	}

	// .search__input

	&__input {
		margin-top: rem(10);
		border: 1px solid black;
	}

	// .search__button

	&__button {
	}
}


/*=============================*/

.page {

	// .page__filter

	&__filter {
		margin-top: rem(10);
		@media (max-width:$mobile){
			 margin-top: 0; 
		}
	}
}
.filter {

	// .filter__container

	&__container {
		padding: 0px 0px;
	}

	&__body{
		@media (min-width:$mobile){
			 display: flex;
			justify-content: space-between;
			
			column-gap: rem(10);
			row-gap: rem(80);
			 @media (max-width:$pc){
				justify-content: center;
				 flex-wrap: wrap;
				
			 }
		}
		@media (max-width:$mobile){
			text-align: center;
			margin-top: rem(15);
		}
	}
	// .filter__title

	&__title {
		@media (min-width:$mobile){
			&::after{
				display: none;
			}
			font-weight: 900;
			@include adaptiveValue("font-size", 20, 16);
			line-height: math.div(40 , 20); 
		}
		@media (max-width:$mobile){
			display: flex;
			justify-content: space-between;
			font-weight: 700;
			padding: 10px 15px 10px 15px;
			background: #F5F5F9;
			border: 1px solid #E5E5E5;
			border-radius: 5px;
			&._spoller-active{
				&::after{
					transform: rotate(180deg);
				}
			} 
		}
		&::after{
			transition: transform 0.3s;
			@extend %ic;
			content: "\e900";
		}
	}

	// .filter__section

	&__section {
		
		display: flex;
		align-items: flex-start;
		gap: rem(10);
		
		@media (max-width:$mobile){
			margin-bottom: rem(20);
			align-items: center;
			display: inline-flex;
		}
		@media (max-width:$mobileSmall){
			 display: block; 
		}
	}

	&__year{
		display: flex;
		gap: rem(10);
		align-items: flex-start;
		p{
			transform:translateY(18px);
			@media (max-width:$mobileSmall){
				 margin-bottom: rem(15); 
			}
		}
		.select__body{
			width: 108px;
		}
		@media (max-width:$mobile){
			 flex: 0 0 100%;
			 align-items: center;
			p{
				transform: translateY(0);
			}
		}
		@media (max-width:$mobileSmall){
			 display: block;
			 .select{
				display: inline-block;
			 }
		}
	}

	&__switch{
		display: flex;
		gap: rem(10);
		transform:translateY(18px);
		@media (max-width:$mobile){
			 justify-content: center;
			 
		}
		p{
			font-size: rem(14);
			line-height: math.div(24 , 14);
			font-weight:700;
		}
	}

	&__button{
		height: rem(56);
		font-size:rem(14);
		font-weight:700;
		line-height: math.div(26 , 14);
		padding: 16px 20px;
		@media (max-width:$mobile){
			 margin-top: rem(20); 
		}
	}
}

.active{
	color: $mainBlue;
}


/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 18px;
	top: 2px;
 }
 
 /* Hide default HTML checkbox */
 .switch input {visibility: hidden;}
 
 /* The slider */
 .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #F5F5F9;
	border: 1px solid #E5E5E5;
	transition: .4s;
 }
 
 .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	top: -1px;
	left: 0;
	background-color: $mainBlue;

	transition: .4s;
 }
 
 input:checked + .slider {
	//background-color: #2196F3;
 }

 input:checked ~ .filter__auto{
	color: #0088CF;
 }
 
 input:focus + .slider {
	//box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
	
	transform: translateX(16px);
 }
 
 /* Rounded sliders */
 .slider.round {
	border-radius: 34px;
 }
 
 .slider.round:before {
	border-radius: 50%;
 }

 /*=================CATALOG===========*/

 .page {

	// .page__catalog

	&__catalog {
		margin-top: rem(90);
	}
}
.catalog {

	// .catalog__container

	&__container {
		display: grid;
		gap: rem(20);
		grid-template-columns: repeat(3, 1fr);
		@media (max-width:$tablet){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:$mobile){
			 grid-template-columns: 1fr; 
		}
	}
}

.item-catalogbu__image{
	display: block;
	padding-bottom: 55.7%;
	}

.filter {

	&__tablet{
		position: absolute;
		width: 100%;
		top: 140%;
	}

	&__table{

	}

	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
		background: #F5F5F9;
		border-radius: 5px;
	}

	&__options{
		font-weight: 400;
		font-size: rem(14);
		line-height: math.div(26 , 14);
	}

	&__close{
		cursor: pointer;
		font-weight: 600;
		color: #0088CF;
	}
}

._green{
	color:rgb(87, 226, 87);
	font-weight:700;
	font-size:rem(20);
}
/*===========RESULTS=========*/

.results{

	&__body{
		//outline: 1px solid red;
		margin-top: rem(15);
		display: grid;
		gap: rem(20);
		grid-template-columns: repeat(3, 1fr);
		@media (max-width:$tablet){
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width:$mobile){
			 grid-template-columns: 1fr; 
		}
	}
}

$light: #fff;
$border-radius: 3px;
$border-color: #ccc;
$padding: 10px;

.selectq {
	width: 300px;
	position: relative;
	margin: 10px 50px 90px 50px;
	text-align-last: left;
	// .select__input

	&__input {
	}

	// .select__curent

	&__current {
		width: 100%;
		border: 1px solid $border-color;
		padding: $padding;
		border-radius: $border-radius;
		position: relative;
		cursor: pointer;
		box-shadow: 0 0 5px 3px rgba(#ccc, .2);
		background-color: darken($light, 30);
		&:after{
			content:'';
			position: absolute;
			right: $padding;
			top: 50%;
			transform: translateY(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: math.div($padding, 2) math.div($padding, 2) 0 math.div($padding, 2);
			border-color: #000 transparent transparent transparent;
		}
	}

	// .select__list

	&__list {
		&:not(:first-child){
			position: absolute;
		display: block;
		width: 100%;
		overflow: hidden;
		border: 1px solid $border-color;
		margin-top: 5px;
		border-radius: $border-radius;
		display: none;
		max-height: 250px;
		overflow-y: auto;
		&::-webkit-scrollbar{width: 8px;}
		
	&::-webkit-scrollbar-track{background-color: #f8f9fa;}
		
	&::-webkit-scrollbar-thumb{border: 2px solid #f8f9fa;
		background-color: #ccc;
		border-radius: 10px;}
		
		
		}
		&_show{
			display: block;
		}
	}

	// .select__item

	&__item {
		padding: $padding;
		cursor: pointer;
		background-color: $light;
		border: none;
		display: inline-block;
		width: 100%;
		&:hover,&:focus{
			background-color: darken($light, 10)
		}
	}
}



.test{
	display:flex;

}