//====================================================================================================
.footer {

	// .footer__top

	&__top {
		
	}
}

.top-footer {

	// .top-footer__body

	&__body {
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax(290px, 1fr));
		@include adaptiveValue("column-gap",125, 0 );
	}

	// .top-footer__column

	&__column {
	}
}
.list-top {

	// .list-top__item

	&__item {
		font-size: rem(14);
		line-height: math.div(28, 14);
		span{
			text-decoration: underline;
			color: #0088CF;
		}
		// .list-top__item_bold
		&_tel{
			padding-top: rem(15);
			font-weight: 900;
			font-size: rem(18);
			line-height: math.div(45 , 18);
		}
		&_bold {
			font-weight: 700;
		}
	}
}

.footer {

	// .footer__midlle

	&__midlle {
		
		@include adaptiveValue("margin-top", 30, 20);
		@media (min-width:$mobile){
			 display: flex;
			justify-content: space-between;
			align-items: center;
			}
	}
}
.midlle-footer {

	// .midlle-footer__social

	&__social {
		display: flex;
		@media (max-width:$tablet){
			padding: rem(30) 0px;
		}
	}

	// .midlle-footer__link-social

	&__link-social {
		padding: rem(18.5);
		background: #F5F5F9;
		border-radius: 5px;
		&:not(:last-child) {
			margin-right: rem(10);
		}
		// .midlle-footer__link-social_vk-blue

		&_vk-blue {
		}
	}

	// .midlle-footer__copyright

	&__copyright {
		position: relative;
	}
}

.copyright {

	// .copyright__list

	&__list {
		padding: 0px rem(10);
		@media (max-width:$mobile){
			display: flex;
			flex-direction: column;
			padding: 0px 0px;
		}
	}

	// .copyright__link

	&__link {
		display: inline-block;
		font-weight: 400;
		font-size: rem(14);
		line-height: 2;
		text-decoration: underline !important;
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 75, 10, 1203, 968, 1);
		}
		&:last-child{
			@include adaptiveValue("margin-right", 40, 0, 1203, 968, 1);
		}
	}
	&__goto{
		&::before{
			transform: rotate(180deg);
			color: white;
			background: #0088CF;
			border-radius: 5px;
			padding: rem(19);
		}
		display: inline-block;
		position: absolute;
		top: calc(0% - rem(19));
		right: -15%;
		transform: translateY(-50);
		//margin-left: rem(40);
		@media (max-width:$tablet){
			display: none;
		}
	}
}

//====================================================================================================
